<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="ufocommander123@gmail.com">
        <network host="smtp.gmail.com"
         port="587"
         userName="ufocommander123@gmail.com"
         password="mcflurry"
         enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>